body {
    background-color: #f2f2f2;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

.admin-requests-show__container {
    width: 90%;
    max-width: 800px;
    margin: 40px auto;
    text-align: center;
}

.admin-requests-show__header-group {
    width: 100%;
    margin-bottom: 20px;
    padding-left: 0;
    text-align: left;
}

.admin-requests-show__heading {
    border-left: 10px solid #333;
    padding-left: 10px;
    margin: 50px 0;
    color: #333;
    font-size: 25px;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    font-weight: bold;
    text-align: left;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.alert-danger {
    background-color: #f8b7ba;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.admin-requests-show__card {
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 0;
    background-color: #fff;
}

.admin-requests-show__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: 2px solid #ddd;
    height: 120px;
}

.admin-requests-show__item:last-child {
    border-bottom: none;
}

.admin-requests-show__label {
    font-size: 18px;
    font-weight: bold;
    color: #555;
    flex-basis: 30%;
    text-align: left;
    padding-left: 50px;
}

.admin-requests-show__data,
.admin-requests-show__time-wrapper,
.admin-requests-show__break-wrapper,
.admin-requests-show__textarea-wrapper {
    flex-basis: 65%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    gap: 80px;
}

.admin-requests-show__time-wrapper input.time-input,
.admin-requests-show__break-wrapper input.time-input {
    width: 90px;
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    text-align: center;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05);
}

.admin-requests-show__textarea-wrapper {
    width: 100%;
}

.admin-requests-show__reason-textarea {
    width: 20ch;
    min-height: 2em;
    max-height: 3em;
    padding: 10px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    word-wrap: break-word;
    resize: none;
    position: relative;
    bottom: 20px;
}

.admin-requests-show__action-form-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
}

.admin-request-show__approved-text {
    background-color: #848484;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    letter-spacing: 2px;
    width: 120px;
}

.admin-requests-show__action-form {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.admin-requests-show__button {
    background-color: #333;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    width: 120px;
    letter-spacing: 5px;
}