body {
    background-color: #f0f2f5;
}

.staff-attendance-list__container {
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.staff-attendance-list__header {
    width: 100%;
    margin-bottom: 20px;
    padding-left: 0;
    text-align: left;
}

.staff-attendance-list__user-name {
    border-left: solid 10px #333;
    padding-left: 10px;
    margin-top: 80px;
    color: #333;
    font-size: 25px;
}

.staff-attendance-list__card {
    width: 100%;
}

.staff-attendance-list__month-navigation {
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
    padding: 10px 0;
    font-size: 1.1em;
    font-weight: bold;
    color: #333;
}

.calendar-icon {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

.staff-attendance-list__nav-link {
    text-decoration: none;
    color: #333;
    padding: 8px 15px;
    border-radius: 5px;
}

.staff-attendance-list__table {
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
}

.staff-attendance-list__row {
    border-bottom: 4px solid #dee2e6;
}

.staff-attendance-list__row:last-child {
    border-bottom: none;
}

.staff-attendance-list__label{
    padding: 15px 10px;
    text-align: center;
    font-weight: bold;
    color: #555;
    white-space: nowrap;
}

.staff-attendance-list__data {
    padding: 15px 10px;
    text-align: center;
    color: #333;
    vertical-align: middle;
    white-space: nowrap;
}

.staff-attendance-list__data-row {
    border-bottom: 2px solid #ddd;
}

.staff-attendance-list__link {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
}

.staff-attendance-list__footer {
    width: 100%;
    text-align: right;
    margin-top: 20px;
}

.staff-attendance-list__csv-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    font-weight: bold;
    letter-spacing: 3px;
    text-decoration: none;
    border-radius: 4px;
}

.staff-attendance-list__csv-button:hover {
    background-color: #5a6268;
}